.navbar {

  .nav-link {
    padding: $navbar-nav-link-padding-y $navbar-nav-link-padding-x;
    transition: color .4s ease;

    &:hover {
      // color: #fff;
    }
  }
  
  .nav-item {
    position: relative;
  }
  
  @include media-breakpoint-between(lg,xl) {
    .nav-item_divider {
      padding-right: .5rem;
      margin-right: .5rem;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: 2px;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
      }
    }
  }
}

.navbar.bg-dark {
  background-image: linear-gradient(to bottom, #222222, #111111);

  .nav-item_divider:before {
    border-left-color: #111111;
    border-right-color: #222222;
  }
}
